body {
	width: 100%;
	
	background: #202020;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
	

	#container {
		border-radius: 10px;
		padding: 20px; 
		// height: 400px;
		width: 1280px;
		margin: auto;
		// border: 4px solid black;


		.left-panel { /* Левая колонка */
			padding: 10px;
			float: left;
			display: block;
			float: left; /* Обтекание справа */
			width: 10%; /* Ширина колонки */
			// height: 80%;
			margin-left: 10px;
			border: 4px double black;

			a {
				display: block;
				color: green;
			}

		}
		.right-panel { /* Правая колонка */
			padding: 10px;
			display: block;
			// margin-left: 21%; /* Отступ слева */
			border: 4px double black;
			width: 80%; /* Ширина колонки */
			// height: 80%;
			float: right;
			.paginator {
				display: block;
			}
			.item {
				border: 4px inset black;
				display: inline-block;
				vertical-align: top;
				width: 200px;
				height: 250px;
				margin: 10px;

				.item-title {
					text-align: center;
					font: 13px Arial;
					color: #4d5a8f;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 20px 10px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					
				}
				.image-item {
					margin: auto;
					width: 120px;
					height: 113px;
					top: -25px;
					left: 0;
					bottom: 0;
					right: 0;
					float: none;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
			.original-records {
				padding: 10px;
				margin: 10px;
				display: block;
				// margin-left: 21%; /* Отступ слева */
				border: 4px double black;
				width: 45%; /* Ширина колонки */
				// height: 80%;
				float: right;
			}

			.similar-recors {
				padding: 10px;
				margin: 10px;
				display: block;
				// margin-left: 21%; /* Отступ слева */
				border: 4px double black;
				width: 45%; /* Ширина колонки */
				// height: 80%;
				float: left;
			}

			form {
				padding: inherit;
				// height: 150px;
				width: 300px;
				// background: red;
				margin: auto;
				input, select{
					width: 100%
				}
			}
			a {
				// display: block;
				color: green;
			}

		}
		
		a {
			// color: red;
		}
	}
}

#footer, #header {
	border-radius: 10px;
	padding: 20px; 
	// height: 5px;
	width: 1280px;
	margin: auto;
	// border: 4px solid black;
}
